技术难点解决方案/1_4.实现webservice/webservice+spring/servlet.xsd

<?xml version='1.0'?>
<!-- NOTE: this file is autogenerated by Apache XBean -->

<xs:schema elementFormDefault='qualified'
           targetNamespace='http://jax-ws.dev.java.net/spring/servlet'
           xmlns:xs='http://www.w3.org/2001/XMLSchema'
           xmlns:tns='http://jax-ws.dev.java.net/spring/servlet'>

  <!-- element for type: com.sun.xml.ws.transport.http.servlet.SpringBinding -->
  <xs:element name='binding'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Represents the association between the service and URL.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='service' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              The service to be bound to the specified URL.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:sequence minOccurs='0' maxOccurs='1'><xs:any namespace='##other'/></xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
      <xs:attribute name='beanName' type='xs:string'/>
      <xs:attribute name='service' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            The service to be bound to the specified URL.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='url' type='xs:string'>
        <xs:annotation>
          <xs:documentation><![CDATA[
            URL pattern to which this service is bound.
          ]]></xs:documentation>
        </xs:annotation>
      </xs:attribute>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


  <!-- element for type: com.sun.xml.ws.transport.http.servlet.SpringBindingList -->
  <xs:element name='bindings'>
    <xs:annotation>
      <xs:documentation><![CDATA[
        Set of {@link SpringBinding}.
      ]]></xs:documentation>
    </xs:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name='bindings' minOccurs='0' maxOccurs='1'>
          <xs:annotation>
            <xs:documentation><![CDATA[
              Individual bindings.
            ]]></xs:documentation>
          </xs:annotation>
          <xs:complexType>
            <xs:choice minOccurs='0' maxOccurs='unbounded'>
              <xs:element ref='tns:binding'/>
              <xs:any namespace='##other'/>
            </xs:choice>
          </xs:complexType>
        </xs:element>
        <xs:any namespace='##other' minOccurs='0' maxOccurs='unbounded' />
      </xs:sequence>
      <xs:attribute name='id' type='xs:ID'/>
      <xs:anyAttribute namespace='##other' processContents='lax'/>
    </xs:complexType>
  </xs:element>


</xs:schema>
